.inputsLook {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;

}

.div1,
.label1 {

    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 500;
    color: brown;
}

.div2 {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 500;
    color: brown;
}

body {
    background-color: burlywood;
}

.inputStyle {
    width: 300px;
    height: 80px;
    color: white;
    background-color: brown;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;


}

.btn {
    cursor: pointer;
    width: 300px;
    height: 80px;
    color: white;
    background-color: brown;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}